.wrapper{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: lightcyan;
	}
.container{
	margin: 0 auto;
	max-width: 1210px;
	padding: 0 5px;
}
.content{
	display: grid;
	grid-template: 1fr/1fr minmax(auto,400px);
	height:100vh;

}
@media(max-width:970px){
	.content{
		grid-template: auto 2fr/1fr;	
	}
}



